@font-face {
  font-family: 'HK-bold';
  src: url('./fonts/HKGrotesk-Bold.otf'); 
  
}
@font-face {
  font-family: 'HK-light';
  font-style: normal;
  font-weight: normal;
  src: url('./fonts/HKGrotesk-Light.otf'); 
  
}
@font-face {
  font-family: 'HK-regular';
  font-style: normal;
  font-weight: normal;
  src: url('./fonts/HKGrotesk-Regular.otf'); 
  
}
@font-face {
  font-family: 'HK-medium';
  src: url('./fonts/HKGrotesk-Medium.otf'); 
  
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fff !important;
  
}


.tx_white{
  color:white !important;
}

.white{
  color: black !important;
}

/* 
loading animation  */
.loadsBg{
  
   height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
 
}
.loads{
  color: aliceblue;
}

.loader{
  color: aliceblue;
  position:relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: linear-gradient(#14ffe9,#ffeb3b , #ff00e0);
  animation: animate 0.5s linear infinite;
}

@keyframes animate{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
.loader span{
  position:absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: linear-gradient(#14ffe9,#ffeb3b , #ff00e0);

}
.loader span:nth-child(1){
  filter:blur(5px);
}
.loader span:nth-child(2){
  filter:blur(10px);
}
.loader span:nth-child(3){
  filter:blur(25px);
}
.loader span:nth-child(4){
  filter:blur(50px);
}
.loader:after{
  content:'';
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background: #240229;
  border-radius:50%;

}


.render{
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Aligner{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}
.card-wrapper{
  display: flex;
  align-items: center;
  flex-direction: column;
  width:635px;
  border: 20px solid #8750D5;
  /* padding: 20px 20px; */
  background-color: #fff !important; 
  margin-bottom: 10px ;
}



.cards{
  background-color: #fff !important;
  color: #000 !important;

  
}



.question{
  /* padding-bottom: 10px !important; */
  text-align: center;
  font-family: 'HK-bold';
  font-size: 27px ;
  line-height: 36px;
}



.options{
  display: flex;
  align-items: center;
  flex-direction: column;
  
  margin-bottom: 20px;
  
}
.options > li{
  list-style:none;
  width:275px;
  border: 3px solid #E8EEF4;
  border-radius: 7px;
  margin-top: 5px;
  padding: 12px;
}
.option{
  margin-bottom: 0px;
}

.option > span{
  font-family: 'HK-medium';

  color:#344356;
  font-size: 16px;  
}
.footer{
  margin: 30px 20px 20px 20px;
}
.footer p{
  font-family: 'HK-bold';
  font-size: 15px;
  line-height: 20px;
  font-weight: bold;
  color: #8750D5;
}


/* button css */
.block {
  display: block;
  width: 100%;
  border: none;
  background-color:#0074D9;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  transition:all 0.3s ease;
}
.block:hover{
  box-shadow:
  2px 2px #53a7ea,
  4px 4px #53a7ea,
  5px 5px #53a7ea;
-webkit-transform: translateX(-5px);
transform: translateX(-5px);
}

.button_wrapper{
  margin: 10px;
}

.icons{
  color:white;
}

/* input designs  */



